@using System.Activities.Expressions
@using vidly.Models
@using SelectListItem = System.Web.WebPages.Html.SelectListItem
@model vidly.Models.Login

@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Log In</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UserType, new SelectList(new List<SelectListItem>
                    {
                        new SelectListItem { Text = "customer" , Value = "customer"},
                        new SelectListItem { Text = "moderator", Value = "moderator" }
                    },
                        "Value", // property to be set as Value of dropdown item
                        "Text",  // property to be used as text of dropdown item
                        "True"), // value that should be set selected of dropdown
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserType)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log In" class="btn btn-default" />
            </div>
        </div>
    </div>
}
