@model IEnumerable<vidlyDbContext.Entities.Movie>

@{
    ViewBag.Title = "Browse Movies";
    Layout = "~/Views/Shared/_LayoutModerator.cshtml";
}
<head>
    <title>Browse Movies</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>
<h2>Browse Movies</h2>
<br />
Search  Movie :
<input id="myInput" type="text" placeholder="Search..">
<br><br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            Thumbnail
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowCount)
        </th>
        <th></th>
    </tr>
    
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (item.ImagePath != null)
                    {
                        <img src="@Url.Content(item.ImagePath)" width="61" height="89"/>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowCount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateMovie", new { id = item.Id }) |
                    @Html.ActionLink("Details", "MovieDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteMovie", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>
