@model vidly.Models.ModeratorViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutModerator.cshtml";
}

<h2>Moderator</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sign Up</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Moderator.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Moderator.Name)
                @Html.ValidationMessageFor(model => model.Moderator.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Moderator.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Moderator.Password)
                @Html.ValidationMessageFor(model => model.Moderator.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Moderator.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Moderator.Email)
                @Html.ValidationMessageFor(model => model.Moderator.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Moderator.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Moderator.Address)
                @Html.ValidationMessageFor(model => model.Moderator.Address)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
