@model vidly.Models.MovieViewModel

@{
    ViewBag.Title = "Create Movie";
    Layout = "~/Views/Shared/_LayoutModerator.cshtml";
}

<h2>Create Movie</h2>

@using (Html.BeginForm("CreateMovie", "Moderators", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        
        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Movie.Name, new { id = "txtName" })
                @Html.ValidationMessageFor(model => model.Movie.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Genre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Movie.Genre, new { id = "txtGenre" })
                @Html.ValidationMessageFor(model => model.Movie.Genre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Movie.Year, new { id = "txtYear" })
                @Html.ValidationMessageFor(model => model.Movie.Year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.ImagePath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ImageFile" />
                @*@Html.TextBoxFor(model => model.ImageFile, new { type = "file" })
                @Html.ValidationMessageFor(model => model.ImageFile)*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Browse Movies", "BrowseMovies")
</div>
