@using vidly.ViewModels

@{
    ViewBag.Title = "RentalHistory";
    Layout = "~/Views/Shared/_LayoutModerator.cshtml";
    var borrows = (List<ModeratorRentalHistory>)ViewBag.allBorrows;
}

<h2>Rental History</h2>
<table class="table">
    <tr>
        <th>Customer Id</th>
        <th>Customer Name</th>
        <th>Movie Name</th>
        <th>Borrow Date</th>
        <th>Return Date</th>
        <th>Status</th>
    </tr>

    @foreach (var movie in borrows)
    {
        <tr>
            <td>@movie.CustomerId</td>
            <td>@movie.CustomerName</td>
            <td>@movie.MovieName</td>
            <td>@movie.DateOfBorrow</td>
            <td>@movie.ReturnDateOfBorrow</td>
            <td>@movie.StatusOfBorrow</td>
        </tr>
    }
</table>


