@model vidly.Models.MovieViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add Movie</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie.Name)
                @Html.ValidationMessageFor(model => model.Movie.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Genre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie.Genre)
                @Html.ValidationMessageFor(model => model.Movie.Genre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Movie.Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Movie.Year)
                @Html.ValidationMessageFor(model => model.Movie.Year)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to Home", "Index")
</div>*@
