@using vidly.ViewModels
@{
    ViewBag.Title = "CurrentBorrows";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    var borrows = (List<CustomerBorrowHistory>)ViewBag.allBorrows;
    var fine = 0.0;
}

<h2>Current Borrows</h2>
<table class="table">
    <tr>
        <th></th>
        <th>Movie Name</th>
        <th>Borrow Date</th>
        <th>Return Date</th>
        <th>Fine</th>
        <th>Status</th>
    </tr>

    @foreach (var movie in borrows)
    {
        <tr>
            <td>
                @if (movie.MoviePosterPath != null)
                {
                    <img src="@Url.Content(movie.MoviePosterPath)" width="61" height="89" />
                }
            </td>
            <td>@movie.MovieName</td>
            <td>@movie.DateOfBorrow</td>
            <td>@movie.ReturnDateOfBorrow</td>
            @if (DateTime.UtcNow.Date > movie.ReturnDateOfBorrow)
            {
                fine = 5 * (DateTime.UtcNow.Date - movie.ReturnDateOfBorrow).TotalDays;
            }
            else
            {
                fine = 0.0;
            }
            <td>@fine</td>
            <td>@movie.StatusOfBorrow</td>
        </tr>
    }
</table>

