@model vidlyDbContext.Entities.Movie

@{
	ViewBag.Title = "MovieDetails";
	Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>MovieDetails</h2>

<div>
	<h4>Movie</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt></dt>
		<dd>
			@if (Model.ImagePath != null)
			{
				<img src="@Url.Content(Model.ImagePath)" width="183" height="267" />
			}
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Genre)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Genre)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Year)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Year)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.BorrowCount)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.BorrowCount)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Back to List", "BrowseMovies")
</p>
